extends layout

block content
  div.row
    div.col-xs-12
      h1 Admin
      ul.nav.nav-tabs
        li.active
          a(href="#step-changer", data-toggle="tab") Steps
        li
          a(href="#group-changer", data-toggle="tab") Groups

      div.well.tab-content

        ul#step-changer.tab-pane.active.list-unstyled
          each val in steps
            li(data-step=val)
              form.form-inline
                div.form-group
                  p(class="form-control-static step step-" + val) Step !{val}
                div.form-group
                  select.form-control.select-group
                    option(value="", selected=val==="") No Group
                    each g in groups
                      option(value=g, selected=val===g) Group !{g}
                div.btn-group
                  button(type="button" class="property btn btn-default", data-target="title", alt="Set title for this step")
                    span.glyphicon.glyphicon-header(title="Title")
                  button(type="button", class="property btn btn-default", data-target="subtitle", alt="Set subtitle for this step")
                    span.glyphicon.glyphicon-superscript(title="Sub-Title")
                  button(type="button", class="property btn btn-default", data-target="title_footer", alt="Set footer title for this step")
                    span.glyphicon.glyphicon-subscript(title="Footer")
                  button(type="button" class="property btn btn-default", data-target="subtitle_footer", alt="Set footer subtitle for this step")
                    span.glyphicon.glyphicon-italic(title="Sub-Footer")
                div.btn-group
                  select(class="form-control select-users", style="width:400px", multiple)
                div.pull-right
                  button.btn.btn-link.icon-panic.hidden
                  .
                    &nbsp;
                  a(href="/step" + val +"/notes", class="btn btn-default btn-step-" + val, alt="Add notes")
                    span.total-notes.badge 0
                    .
                      &nbsp;Notes

        ul#group-changer.tab-pane.list-unstyled
          each val in groups
            li(data-group=val)
              form.form-inline
                div.form-group
                  p(class="form-control-static group group-" + val) Group !{val}
                div.btn-group
                  button(type="button" class="property btn btn-default" data-target="title" alt="Set title for this group") Title
                div.btn-group
                  select(class="form-control select-users", style="width:400px", multiple)

    div.col-xs-12
      p
        a#rotate.btn.btn-primary Rotate groups
        span &nbsp;
        a#sync.btn.btn-info Synchronize

        span.pull-right
          a#reset.btn.btn-warning Reset groups
          span &nbsp;
          a#reload-remotes.btn.btn-danger Reload remotes

    div.col-xs-12
      div#feed.well

block append scripts
  script(src="/assets/js/admin.js?v="+version)
