extends layout

block content
  div.row
    div.col-xs-12
      h1 Admin
      div.well
        ul#step-changer.list-unstyled
          each val in [1, 2, 3, 4, 5, 6]
            li(data-step=val)
              form.form-inline
                div.form-group
                  p(class="form-control-static step step-" + val) Step !{val}
                div.form-group
                  select.form-control.select-step
                    each g in [1, 2, 3, 4, 5, 6]
                      option(value=g, selected=val===g) Group !{g}
                div.btn-group
                  button(type="button" class="property btn btn-default" data-target="title" alt="Set title for this step") Title
                  button(type="button", class="property btn btn-default", data-target="title", alt="Set title for this step") Title
                  button(type="button", class="property btn btn-default", data-target="subtitle" alt="Set subtitle for this step") SubTitle
                  button(type="button" class="property btn btn-default" data-target="subtitle_footer" alt="Set subtitle footer for this step") SubTitle Footer
                div.btn-group
                  select(class="form-control select-users", style="width:300px", multiple)

    div.col-xs-12
      p
        a#rotate.btn.btn-primary Rotate groups
        span &nbsp;
        a#sync.btn.btn-info Synchronize

        span.pull-right
          a#reset.btn.btn-warning Reset groups
          span &nbsp;
          a#reload-remotes.btn.btn-danger Reload remotes

    div.col-xs-12
      div#feed.well

block append scripts
  script(src="/assets/js/admin.js?v="+version)
