extends layout

block header
  nav(class="step")
    div.container
      div.row
        div.col-xs-12
          h1 Conversations

block content
  div.row
    div.col-xs-12
      ul.nav.nav-tabs
        //- li.active
        //-   a(href="#all", data-toggle="tab")
        //-     span.total-notes.badge 0
        //-     .
        //-       &nbsp;All Notes
        each i in steps
          if i !== 0
            li(class="step step-"+i, data-step=i)
              a(href="#tab-" + i)
                span.total-notes.badge 0
                span.name Space !{i}

  div.tab-content
    each i in steps
      if i !== 0
        div(id="tab-"+i, class="row tab-pane" + (i===0 ? ' active' : ''))
          div.col-sm-10.col-xs-12
            div.spacer
              button(class="btn btn-primary" data-toggle="collapse" href="#toc-collapse-"+i)
                span.glyphicon.glyphicon-list
                .
                  &nbsp;CHAPTERS
            div(id="toc-"+i, class="toc")
            div(id="media-"+i)

          div.col-sm-2.col-xs-12
            div.step-users.well.well-sm
              h4 !{texts.facilitators}
              div.users
              div.clearfix
            div.group-users.well.well-sm
              h4 !{texts.makers}
              div.users
              div.clearfix

block prepend scripts
  script.
    HASHTAGS="!{hashtags}";

block append scripts
  script(src="/assets/js/allnotes.js?v="+version)
  script(async src="https://platform.twitter.com/widgets.js")

