extends layout

block header
  nav(class="step step"+space)
    div.container
      div.row
        div.col-xs-12
          h1 Notes for Space !{space}
          span.icon-panic.pull-right

block content
  ul.nav.nav-tabs
    li.active
      a(href="#note", data-toggle="tab") Notes&nbsp;
        span#total-note.badge
    li
      a(href="#api", data-toggle="tab") Roadbook responses&nbsp;
        span#total-api.badge

    li.pull-right
      form.form-inline
        div.form-group
          label(for="show-type") Show:&nbsp;
          select#show-type.form-control
            option(value="all") Notes &amp; Roadbook
            option(value="note") Only notes
            option(value="api") Only Roadbook
        div.form-group
          label(for="show-chapter") Chapter:&nbsp;
          select#show-chapter.form-control
            option(value="_all_") All
            option(value="_active_") Active chapter
            option(value="") ---
            each c in chapters
              option(value=c.id) !{c.title}

  div.row
    div.col-sm-10.col-xs-12
      div.tab-content
        div#note.tab-pane.active
          form.form-horizontal
            div.form-group
              label(for="note-chapter", class="col-sm-2 control-label") Chapter:
              div.col-sm-10
                select#note-chapter.form-control
                  each c in chapters
                    option(value=c.id) !{c.title}
            div.form-group
              label(for="note-user", class="col-sm-2 control-label") User:
              div.col-sm-10
                select#note-user.form-control
            div.form-group
              label(for="note-text", class="col-sm-2 control-label") Says:
              div.col-sm-10
                textarea#note-text.form-control
                p.help-block.pull-right Tip: use CTRL + Enter to publish your note
            div.form-group
              div.col-sm-offset-2.col-sm-10
                button(type="submit", class="btn btn-primary btn-lg")
                  span.glyphicon.glyphicon-floppy-save
                  .
                    &nbsp;Save note
                div.pull-right
                  button(type="reset", class="btn btn-default")
                    span.glyphicon.glyphicon-remove
                    .
                      &nbsp;Cancel
                  .
                    &nbsp;
                  //- div.btn-group
                    button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown")
                      span.glyphicon.glyphicon-list
                      .
                        &nbsp;Chapter&nbsp;
                      span.caret
                    ul.dropdown-menu
                      li
                        a
                          span.glyphicon.glyphicon-ok
                          .
                            &nbsp;Assign
                      li
                        a
                          span.glyphicon.glyphicon-edit
                          .
                            &nbsp;Edit
                      li
                        a
                          span.glyphicon.glyphicon-trash
                          .
                            &nbsp;Remove
                input(type="hidden", id="note-id")
          ul.media-list.well.sm-well

        div#api.tab-pane

          ul.media-list
      div.clearfix

    div.col-sm-2.col-xs-12
      div#step-users.well.well-sm
        h4 !{texts.facilitators}
        div.users
        div.clearfix
      div#group-users.well.well-sm
        h4 !{texts.makers}
        div.users
        div.clearfix

block prepend scripts
  script.
    SPACE=!{space};
    GROUP=!{space};

block append scripts
  script(src="/assets/js/notes.js?v="+version)
