extends layout

block append styles
  link(rel="stylesheet", href="/assets/css/carousel.css")
  link(rel="stylesheet", href="/assets/css/step.css")

block body
  body(class="body-bg-"+step)

block header
  nav(class="navbar-fixed-top nav-bg-"+step)
    div.container-fluid
      div.row
        div.col-xs-2
          div.step-circle
            h1.title.text-center Step!{step}
            div.text-center
              img(src="/assets/img/steps/step-"+step+".png" width="50")
        div.col-xs-4.col-sm-6.col-md-7
          div(class="imagine hidden-xs nav-title-bg-"+step)
            div#title
          div.info.hidden-xs
            span#subtitle
            span(class="glyphicon glyphicon-info-sign pull-right"
                 aria-hidden="true")
        div.col-xs-6.col-sm-4.col-md-3
          img(src='assets/img/moving.png'
              class='img-responsive moving')

        div.glyphicon.glyphicon-refresh.spinning

block content

  div#slides.row
    div.col-xs-12
      div#stepsCarousel.carousel.slide
        div.carousel-inner
          div.item.active

        //- o.carousel-indicators
        //-   li(data-target="#stepsCarousel", data-slide-to="0")

        a(class="left carousel-control" href="#stepsCarousel" role="button" data-slide="prev")
          span.glyphicon.glyphicon-chevron-left
          span.sr-only Previous
        a(class="right carousel-control" href="#stepsCarousel" role="button" data-slide="next")
          span.glyphicon.glyphicon-chevron-right
          span.sr-only Next

  //- ideamakers, users defined in model Group
  ul#group-users.pull-left

  //- ideafeeders, admins etc, users defined in model Step
  ul#step-users.pull-right


block footer
  footer(class="navbar-fixed-bottom footer-bg-"+step)
    div.container-fluid
      div.row
        div.col-xs-10
          div#title_footer(class="title-footer footer-element-bg-"+step)
          div#subtitle_footer(class="subtitle-footer footer-element-bg-"+step)

        div.col-xs-2
          div.step-circle
            div.group.text-center

block prepend scripts
  script.
    STEP=!{step};
    GROUP=!{step};

block append scripts
  script(src="/assets/js/steps.js?v="+version)

