extends layout

block append styles
  link(rel="stylesheet", href="/assets/css/carousel.css")
  link(rel="stylesheet", href="/assets/css/step.css")

block header
  nav(class="nav-bg-"+step)
    div.container-fluid
      div.row
        div.col-sm-2
          div.step-circle.goto-fullscreen.with-group
            h1.title.text-center Step!{step}
            div.text-center
              img(src="/assets/img/steps/step-" + step + ".png")
          div.ideacamp-logo
            img(src='assets/img/ideacamp.svg'
              class='img-responsive')
        div.col-xs-4.col-sm-6.col-md-7
          div(class="imagine hidden-xs hidden-sm nav-title-bg-" + step)
            div#step-prop-title
          //div.info.hidden-xs
            span#step-prop-subtitle
            span(class="glyphicon glyphicon-info-sign pull-right"
                 aria-hidden="true")
        div.col-xs-12.col-sm-4.col-md-3.moving-container
          img(src='/assets/img/moving.png'
              class='img-responsive moving')

        div.glyphicon.glyphicon-refresh.spinning

block content

  div#stepsSlider

  div.row.users
    //- ideamakers, users defined in model Group
    div#step-users.col-sm-12
      h2 Idea Feeders


block footer
  footer(class="navbar-fixed-bottom footer-bg-"+step)
    div.container-fluid
      div.row.with-group
        div.col-sm-2
          div.step-circle
            div.group.text-center
        div#group-users.col-sm-10


        //div#step-prop-title_footer(class="title-footer footer-element-bg-"+step)
        //div#step-prop-subtitle_footer(class="subtitle-footer footer-element-bg-"+step)



block prepend scripts
  script.
    STEP=!{step};
    GROUP=!{step};

block append scripts
  script(src="/assets/js/steps.js?v="+version)

