extends layout

block append styles
  link(rel="stylesheet", href="/assets/css/carousel.css")
  link(rel="stylesheet", href="/assets/css/step.css")

block header
  nav(class="nav-bg-"+step)
    div.container-fluid
      div.row
        div.col-xs-2
          div.step-circle.goto-fullscreen
            h1.title.text-center Step!{step}
            div.text-center
              img(src="/assets/img/steps/step-"+step+".png" width="50")
        div.col-xs-4.col-sm-6.col-md-7
          div(class="imagine hidden-xs nav-title-bg-"+step)
            div#title
          //div.info.hidden-xs
            span#subtitle
            span(class="glyphicon glyphicon-info-sign pull-right"
                 aria-hidden="true")
        div.col-xs-6.col-sm-4.col-md-3
          img(src='assets/img/moving.png'
              class='img-responsive moving')

        div.glyphicon.glyphicon-refresh.spinning

block content

  div#stepsSlider

  //div#slides.row
    div.col-xs-12
      div#stepsCarousel.carousel.slide
        div.carousel-inner
          div.item.active

        o.carousel-indicators
          li(data-target="#stepsCarousel", data-slide-to="0")

        a(class="left carousel-control" href="#stepsCarousel" role="button" data-slide="prev")
          span.glyphicon.glyphicon-chevron-left
          span.sr-only Previous
        a(class="right carousel-control" href="#stepsCarousel" role="button" data-slide="next")
          span.glyphicon.glyphicon-chevron-right
          span.sr-only Next

  div.row.users
    //- ideamakers, users defined in model Group
    div#step-users.col-sm-12
      h2 Idea Feeders


block footer
  footer(class="navbar-fixed-bottom footer-bg-"+step)
    div.container-fluid
      div.row
        div.col-xs-2
          div.step-circle
            div.group.text-center
        div#group-users.col-xs-10


        //div#title_footer(class="title-footer footer-element-bg-"+step)
        //div#subtitle_footer(class="subtitle-footer footer-element-bg-"+step)



block prepend scripts
  script.
    STEP=!{step};
    GROUP=!{step};

block append scripts
  script(src="/assets/js/steps.js?v="+version)

