extends layout

block append styles
  link(rel="stylesheet", href="/assets/css/carousel.css")
  link(rel="stylesheet", href="/assets/css/step.css")

block header
  nav.navbar-fixed-top
    div.container-fluid
      div.row
        div.col-xs-2
          div.step-circle
            h1.title.text-center Step!{step}
        div.col-xs-4.col-sm-6.col-md-7
          div.imagine.hidden-xs
            div Imagine your Idea as a platform
          div.info.hidden-xs
            span Define my organizational model
            span(class="glyphicon glyphicon-info-sign pull-right"
                 aria-hidden="true")
        div.col-xs-6.col-sm-4.col-md-3
          img(src='assets/img/moving.png'
              class='img-responsive moving')



block content
  div.row
    div.col-xs-12
        div.pull-right.glyphicon.glyphicon-refresh.spinning

  div#slides.row
    div.col-xs-12
      div#stepsCarousel.carousel.slide
        div.carousel-inner
          div.item.active

        //- o.carousel-indicators
        //-   li(data-target="#stepsCarousel", data-slide-to="0")

        a(class="left carousel-control" href="#stepsCarousel" role="button" data-slide="prev")
          span.glyphicon.glyphicon-chevron-left
          span.sr-only Previous
        a(class="right carousel-control" href="#stepsCarousel" role="button" data-slide="next")
          span.glyphicon.glyphicon-chevron-right
          span.sr-only Next
  </div>

block footer
  footer.navbar-fixed-bottom
    div.container-fluid
      div.row
        div.col-xs-10
          div.how HOW
          div.strategy MY STRATEGY, MY SUSTAINABILITY

        div.col-xs-2
          div.step-circle
            div.group.text-center

block prepend scripts
  script.
    TIME = 6000;
    STEP=!{step};
    GROUP=!{step};
    PROJECTS=[];

block append scripts
  script.
    function setGroup(group) {
      GROUP=group;
      $('.group').html(' Group<br>' + group);
      $('#stepsCarousel').carousel('pause').removeData();
      $('#stepsCarousel').carousel(0);
      $('#stepsCarousel>.carousel-inner').html('');
      $('.spinning').show();
      console.log('Setting up group', group);
    }

    function resetSlides() {


    }

    function addSlides(projects){
      var total = $('#stepsCarousel .item').length;

      //- $('#stepsCarousel').carousel('pause');
      var index = 0;
      _.each(projects, function(project) {
        //- console.log(index, project);
        // TODO: split texts
        if(project.text) {
            var item = '';
            item += '<div class="item';
            if(index === 0 && total === 0)
                item += ' active';
            item += '" id="' + project.id + '" data-index="' + (total + index) + '">';
            item += '<p class="text-center">'
            item += project.text;
            item += '</p>';
            item += '<div class="text-center">'
            item += '<div class="avatar hexagon" style="background-image:url(' + project.avatar + ')"><div class="hex-top"></div><div class="hex-bottom"></div><div class="role role-' + project.role + '"></div></div>';
            item += ' <span style="font-size:16px">' + project.author + '<span>'
            item += '</div>'
            item += '</div>';
            $('#stepsCarousel>.carousel-inner').append(item);

            //- var indicators = '';
            //- indicators += '<li data-target="#stepsCarousel" data-slide-to="' + index + '"';
            //- if(index === 0 && total === 0)
            //-     indicators += ' class="active"';
            //- indicators += '></li>';
            //- $('#stepsCarousel>.carousel-indicators').html(indicators);
            index++;
        }
      });
      $('#stepsCarousel').carousel('cycle');
    }


    $(function(){
      $('#stepsCarousel').carousel({
        interval: TIME
      });

      setGroup(GROUP);

      $('#stepsCarousel').on('slid.bs.carousel', function (target) {
        var index = $(target.relatedTarget).data('index');
        var total = $('#stepsCarousel .item').length;
        if(index >= total - 1) {
          // Final slide, request more
          console.log('End slides');
          SOCKET.emit('end slides');
          setTimeout(function(){
            SOCKET.emit('step change', STEP, GROUP);
          }, TIME);
        }
        console.log('start slide', target.relatedTarget );
      });


      SOCKET.on('change group', function(step, group) {
        console.log('Change group',step,group);
        if(STEP === step) {
          setGroup(group);
        }
      });
      SOCKET.on('add projects', function(projects) {
        if(projects && projects.length) {
          console.log('Adding', projects.length, 'projects');
          addSlides(projects);
        }
      });
      SOCKET.on('end projects', function(projects) {
        $('.spinning').hide();
      });
    });
